<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <title>Components</title>
    <style>
      .error{
        color:red;font-weight:bold;display:none;
      }
    </style>
  </head>
  <body>
    <h1>Components</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <button ng-click='list.logItems();'>Log Items</button>
      <span>{{ list.lastRemoved }}</span>

      <shopping-list items='list.items' title='{{list.title}}'
      bad-remove='list.removeItem'
      on-remove='list.removeItem(index)'
      ></shopping-list>

    </div>
    <script src='jquery-3.1.0.min.js'></script>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
