<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bindings</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      body{
        font-size:1.2em;
      }
    </style>
  </head>
  <body ng-app="bindingApp">
    <h2>2-way, 1-way and 1-time biding</h2>
    <div ng-controller="bindingCtrl">
        <button ng-click="showWatchers()">Show Watchers</button>
        <button ng-click="setFullName()">Set Full Name</button>
        <br><br>
        Full name is {{::fullName}} <!--one time binding-->
        <br><br>
        <button ng-click="logFirstName()">Log First Name</button>
        <button ng-click="logFullName()">Log Full Name</button>
        <br><br>
        <div>
          <input type="text" ng-model="firstName">
        </div>
    </div>
  </body>
</html>
