<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" 
    rel="stylesheet"> 
    <link rel='stylesheet' href='styles/bootstrap.min.css'>
    <link rel='stylesheet' href='styles/style.css'>
  </head>
  <body ng-app='NarrowItDownApp'>
    <div class='container' ng-controller='NarrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <input id='search-box' type='text' placeholder="Search Menu" class='form-control'
    ng-model='menu.searchTerm'>
    <div class='form-group narrow-button'>
      <button type='button' class='btn btn-primary' 
      ng-click='menu.getMatches(menu.searchTerm)'>
        Narrow It Down For Me!
      </button>
    </div>
      <div class='row'>
        <div ng-if='menu.found.length' class='name-rect'>Found {{menu.found.length}} items</div>
        <found-item found-item-array='menu.found' on-remove='menu.remove(index)'></found-item>
        <div class='error' ng-if='menu.error'>{{menu.error}}</div>
      </div>
  </div>
    <script src='../angular.min.js'></script>
    <script src='app.js'></script>
  </body>
</html>
