<div class='container'>
    <div ng-if='myInfo.userData.fname'>
    First Name : {{myInfo.userData.fname}} <br>
    Last Name : {{myInfo.userData.lname}} <br>
    Email: {{myInfo.userData.email}}    <br>
    Phone: {{myInfo.userData.phone}} 
    <div>
        <h4 class='text-center'>Favorite Menu Item</h4>
        <div>
            <img ng-src='{{myInfo.basePath}}/images/{{myInfo.userData.shortName.toUpperCase()}}.jpg'>
            <div class='menu-item-title'>{{myInfo.userData.data.name}}</div>
            <div class='menu-item-detail'>{{myInfo.userData.data.description}}</div>
        </div>
    </div>
    </div>
    <div ng-if='!myInfo.userData.fname'>
        Not Signed Up Yet. <a ui-sref='public.signUp'>Sign up Now!</a></div>
</div>