<!DOCTYPE html>
<html ng-app="counterApp" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>$digest and $apply</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h2>$digest and $apply</h2>
    <div ng-controller="counterCtrl">
      <button ng-click="counter()">Increment counter</button>
      <br><br>
      <div>Counter: {{count}}</div><br>
      <button ng-click="showWatchers()">Show watchers</button>
    </div>
  </body>
</html>
