<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feed Kirby!</title>
    <script src="../angular.min.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="app.min.js"></script>
    <style>
      #box{
        position:relative;
      }
      #k-shout{
        position:absolute;
        top:150px;left:450px;
        font-size:20px;
      }
    </style>
  </head>
  <body ng-app="feedApp">
    <h1>Kirby Feeder 30000</h1>
    <div id="box" ng-controller='feedCtrl'>
      <button ng-click="feedKirby();">Feed Kirby</button>
      <button ng-click="wantsMore();">Want More?</button>
      <br>
      <br>
      <img ng-src="images/kirby_{{state}}.jpg" width="400" height="300px">
      <div id="k-shout">{{response}}</div>
    </div>
  </body>
</html>
